/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,html,main,#editor-frame{
	line-height: 1.6;
    width: 100%;
}


p:last-child {
	margin-bottom: 0;
}

a { 
	color: black;
	text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1{
    font-size: 2em;
    color: white;
    padding:35px 0px 10px 30px;    
}
p{
    color:floralwhite;
     padding:20px 0px 55px 30px;
    font-size:1.2em;
}
h2{
    font-size: 1.5em;
    color: black;
    padding:20px 0px 10px 0px ;
    text-align: center;
}
.inline{
    display: inline-block;
}
label{
    color:white;
}
hr{
    background-color:black;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */
header{
    background: #ED475C;
}
.logo{
    height: 59px;
    line-height: 55px;
    
}
#main-nav{
  line-height: 59px;  
}
#main-nav li{
    display: inline-block;
}
#main-nav a{
    padding:20px 5px 20px 7px;
    font-size: 1.2em;
    font-weight: 500;
}
#main-nav a:hover{
    background-color: #7F111E;
    color:#F86576;
}

#secondary-nav li{
    display: inline-block;
    line-height: 59px;
}
#secondary-nav a {
     padding: 5px 0px 5px 0px;
     font-size:1em;
     color: black;
}
#secondary-nav a:hover {
     color:yellowgreen;
}
.extra{
    color:white;
}

/* ---- Main ---- */
bod{
}
main{
    background-image: url(../images/about-background.jpg);
    width: 100vw;
    min-height: 100vh;
    background-position:center;
    background-size:cover;
}





/* ---- Aside ---- */




/* ---- Section Right ---- */













/* ---- Footer ---- */

footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background:rgba(60,10,10,0.6);
    color:#ED475A;
    font-size: 1.3em;
}
/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) {

.grid-img{
    height: 70px;
    width: 70px;
}
    
}
    

@media screen and (min-width: 992px) {
     .outer {
        width: 70vw;
        min-height: 33vw;
         margin-left:2vw;
        
    }
    .square{
    width:33vw;
    height:33vw;
/*    margin:5px;*/
}
    .wrapper{
        padding-left: 33vw;
    }
    .right-side{
    min-height: 33vw;
}
    .grid-img{
    height: 100px;
    width: 100px;
}
    }

@media screen and (min-width: 1200px) {

    

}









