/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,html,main,#editor-frame{
	line-height: 1.6;
    width: 100%;
}


p:last-child {
	margin-bottom: 0;
}

a { 
	color: black;
	text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1{
    font-size: 2em;
    color: black;
    padding:25px 0px 25px 0px;
    

    
}
h2{
    font-size: 1.5em;
    color: black;
    padding:20px 0px 10px 0px ;
    text-align: center;
}
.inline{
    display: inline-block;
}
label{
    color:black;
}
hr{
    background-color:black;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */
header{
    background: #ED475C;
}
.logo{
    height: 59px;
    line-height: 55px;
    
}
#main-nav{
  line-height: 59px;  
}
#main-nav li{
    display: inline-block;
}
#main-nav a{
    padding:20px 5px 20px 7px;
    font-size: 1.2em;
    font-weight: 500;
}
#main-nav a:hover{
    background-color: #7F111E;
    color:#F86576;
}

#secondary-nav li{
    display: inline-block;
    line-height: 59px;
}
#secondary-nav a {
     padding: 5px 0px 5px 0px;
     font-size:1em;
     color: black;
}
#secondary-nav a:hover {
     color:yellowgreen;
}
.extra{
    color:white;
}

/* ---- Main ---- */
bod{
}
main{
    background-image: url(../images/editor-background.png);
    width: 100vw;
    min-height: 100vh;
    background-position:center;
    background-size:cover;
}


.steps-container{ 
    background-color:rgba(200,200,200,0.6);
    padding:20px;
    text-align: center;
    border: 1px solid black;
}
div.selected{
background-color: rgba(47,157,138,0.7);
    color:white;
}
.grid-img{
    height: 50px;
    width: 50px;
}




/* ---- Editor Settings ---- */
#editor-frame{
        text-align: center;
}

#grid{
    height: 70vw;
     width: 70vw;
    margin:0 auto;
}
.grid-cell{
    height: calc( 70vw / 3.1);
    width: calc( 70vw / 3.1);
    display: inline-block;
    background-color:  lightgray;
}
.square{
    height: calc( 70vw / 3.1);
    width: calc( 70vw / 3.1);
    background-color: black;
    display: inline-block;
}
.square-drag{
     outline: 2px dashed #CB2337;
            outline-offset: -7px;
}
#square1{
    background-image:url(../images/square1.jpg);
    background-position: center;
    background-size: contain;
}
#square2{
    background-image:url(../images/square2.jpg);
    background-position: center;
    background-size: contain;
}
#square3{
    background-image:url(../images/square3.jpg);
    background-position: center;
    background-size: contain;
}
#square4{
    background-image:url(../images/square44.jpg);
    background-position: center;
    background-size: contain;
}
#square5{
    background-image:url(../images/square5.jpg);
    background-position: center;
    background-size: contain;
}
#square6{
    background-image:url(../images/square6.jpg);
    background-position: center;
    background-size: contain;
}




/* ---- Section Right ---- */













/* ---- Footer ---- */

footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background:rgba(60,10,10,0.6);
    color:#ED475A;
    font-size: 1.3em;
}
/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px) {
#grid{
    height: 50vw;
     width: 50vw;
    margin:0 auto;
}
.grid-cell{
    height: calc( 50vw / 3.1);
    width: calc( 50vw / 3.1);
    background-color:  lightgray;

    
}
.square{
    height: calc( 50vw / 3.1);
    width: calc( 50vw / 3.1);
}
    
}
    

@media screen and (min-width: 992px) {
       #grid{
    height: 40vw;
     width: 40vw;
    margin:0 auto;
}
.grid-cell{
    height: calc( 40vw / 3.1);
    width: calc( 40vw / 3.1);
    display: inline-block;
    background-color: lightgray;
    
}
.square{
    height: calc( 40vw / 3.1);
    width: calc( 40vw / 3.1);
    background-color: black;
    display: inline-block;
}
}

@media screen and (min-width: 1200px) {
   #grid{
    height: 40vw;
     width: 40vw;
     width: 40vw;
    margin:0 auto;
}
.grid-cell{
    height: calc( 40vw / 3.1);
    width: calc( 40vw / 3.1);
    display: inline-block;
      background-color:  lightgray;
    
}
.square{
    height: calc( 40vw / 3.1);
    width: calc( 40vw / 3.1);
    background-color: black;
    display: inline-block;
}
    

}









